.lightTextClass{
    color: #757575 !important;
}

.lightBgClass{
    background-color: #eeeeee !important;
}

.darkTextClass{
    color: #eeeeee !important;
}


.darkBgClass{
    background-color: #263238 !important;
}
